// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.form-control.short {
    width: 300px;
}

.search {
    display: flex;
    flex-direction: row;
    .searchForm {
        display: flex;
        flex-direction: row;
    }
}
