.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite
      20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------------------------- */

.listForm {
  width: 96%;
  display: flex;
  justify-content: center;
  margin-left: 2%;
  margin-top: 10px;
}

.accountsTable {
  font-family: Arial, Helvetica,
    sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
}

.accountsTable td,
.accountsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.accountsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.accountsTable tr:hover {
  background-color: #ddd;
}

.accountsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.error {
  color: red;
  font-size: 20px;
  margin-left: 2%;
  margin-top: 10px;
}

.message {
  color: green;
  font-size: 20px;
  margin-left: 2%;
  margin-top: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 60px;
  background-color: chocolate;
}

.btn {
  border: none;
  border-radius: 20px;
  color: white;
  outline: none;
  height: 40px;
  width: 150px;
  margin-right: 40px;
}

.btn.create {
  background-color: cornflowerblue;
}

.btn.login {
  background-color: skyblue;
  width: 200px;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Courier New', Courier,
    monospace;
}
.btn.logout {
  background-color: crimson;
}

.currencyInput {
  height: 30px;
  margin: 0 10px;
  width: 200px;
}

.currencyForm {
  margin-left: 2%;
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.currencyButton {
  background-color: chartreuse;
  border-radius: 15px;
  padding: 0 20px;
}

.log-btn {
  width: 200px;
  height: 60px;
  border: none;
  outline: none;
  background-color: skyblue;
  color: white;
  border-radius: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Courier New', Courier,
    monospace;
  cursor: pointer;
}

.nice-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  text-transform: uppercase;
}

.nice-input input {
  height: 30px;
  font-size: 20px;
}
